<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KIZCintrol.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KIZCintrol.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=192.168.1.82,51902;Initial Catalog=eplus_work;User ID=sa;Password=Qq123;</value>
            </setting>
        </KIZCintrol.Properties.Settings>
    </userSettings>
</configuration>