<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MDLPKIZControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <MDLPKIZControl.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>8e8199c6-de71-42b5-b295-66883ad9c67d</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>50b382cf-2bf8-4808-801c-f568953db28d</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>d5b00f5f5d5db4b55a505495489dc5808f55c48e</value>
            </setting>
            <setting name="ConnectionSTring" serializeAs="String">
                <value />
            </setting>
        </MDLPKIZControl.Properties.Settings>
    </applicationSettings>
</configuration>