<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MDLPKIZControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <MDLPKIZControl.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>c72fbf79-bc1d-4eff-96ec-ed4c361b442c</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>933dc32f-0336-4613-b4bf-f161e2e14b22</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>d5b00f5f5d5db4b55a505495489dc5808f55c48e</value>
            </setting>
            <setting name="ConnectionSTring" serializeAs="String">
                <value />
            </setting>
            <setting name="DocFolder" serializeAs="String">
                <value>522</value>
            </setting>
        </MDLPKIZControl.Properties.Settings>
    </applicationSettings>
</configuration>